#myHeader {
    background-color: rgb(255, 255, 255);
    color: navy;
    padding: 40px;
    text-align: center;
    text-decoration: underline;
    border-style: double;
    border-color: red;
    border-width: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
      .web-links-one {
          display:flex;
          flex-wrap: wrap;
            justify-content: center; /* Align items horizontally in the center */
            align-items: center; /* Align items vertically in the center */
            width: 100%;
            padding: 0;
        }
        .web-links-one a {
                    text-decoration: none;
                    color: navy;
                    padding: 10px;
                    margin: 5px;
                    border: 2px solid navy;
                    border-radius: 5px;
                    transition: background-color 0.3s, color 0.3s;
                    flex: 1 0 auto;
                    max-width:150px;
                    text-align: center;
                }
                .web-links-one a:hover {
                    background-color: navy;
                    color: white;
                }
                #countdown {
      font-size: 24px;
    }
          /* Media query for smaller devices */
          @media only screen and (max-width: 768px) {
          /* For mobile phones: */
          [class*="col-"] {
            width: 100%;
          }
          [class*="web-links-one"] {
            width: 100%;
          }
        
          [class*="funfact"] {
            width: 100%;
          }
          .myHeader {
            width: 100%;
          }
          .web-links-one a {
            width: 100%;
            max-width: none;
          }
          }