/**THIS CODE CONTROLS THE MARGIN, PADDING AND WIDTH ON THE HOME PAGE**/
*{
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    overflow-x: hidden;
}
/**THIS CODE CONTROLS THE BODY**/
body{
    
    background-image: url(/resources/project1\ backgroundv1p1.png);
    
   
}
/**THIS CODE CONTROLS THE VIDEO ON THE HOME PAGE**/
.header-vid{
    position: absolute;
    overflow-y: hidden;
    overflow: hidden;
    max-width: 100vw;
    max-height: 70vh;
    z-index: -1;
}


/**THIS CODE CONTROLS THE MAIN HEADER ON THE HOME PAGE**/
.header-title{
    position: absolute;
    
    padding-bottom: 2em;
    text-align: center;
    font-size: 8em;
    color: rgba(121, 218, 218, 0.694);
}

@media (max-width:768px){
    .header-title{
        margin-top: 6vh;
        position: relative;
        font-size: 3em;
        
    }
}

/**THIS CODE CONTROLS THE WEBSITE NAV ON THE HOME PAGE**/
.web-links{
    position: relative;
    padding: 2%;
    padding-bottom: 3%;
    margin-top: 60vh;
    margin-bottom: 5%;
    text-align: center;
    color: rgb(252, 0, 0);

}
@media(max-width:768px){
    .web-links{
        margin-top: 20vh;

    }
}
@media(max-width:767px){
    .web-links{
    display: none;

    }
}
@media(min-width:1441px){
    .web-links{
    font-size: 1.3em;
    margin-top: 56vh;

    }
}

/**THIS CODE CONTROLS THE HAMBERGER NAV ON THE HOME PAGE**/
:root{
    --animation-timing: 200ms ease-in-out;
}
.hamberger-menu{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    position: absolute;
    top: 0vh;
    padding-bottom: 2em;
    cursor: pointer;
    
}
@media(min-width:766px){
    .hamberger-menu{
        display: none;
    }
}

.hamberger-menu::before,
.hamberger-menu::after,
.hamberger-menu input{
    content: "";
    width: 50px;
    height: 8px;
    background-color: black;
    border-radius: 9999px;
    /**transition: opacity var(--animation-timing), width var(--animation-timing);**/
}
@media(max-width:425px){
    .hamberger-menu::before,
    .hamberger-menu::after,
    .hamberger-menu input{
    content: "";
    width: 9vw;
    height: .9vh;


}
}
.hamberger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
/**.hamberger-menu input:checked{
    opacity: 0;
    width: 0;
}**/
.sidebar{
    position: absolute;
    top: 10vh;
    transition: var(--animation-timing);
    translate: -1000%;
    background-color: rgba(58, 62, 66, 0.486);
    padding: 0.5rem, .5rem;
    padding-top: 2em;
    max-width: 30rem;
    height: 100vh;  
}
nav a{
    color: aliceblue;
}
.hamberger-menu:has(input:checked) + .sidebar{
    translate: 0;
}

/**THIS CODE CONTROLS THE EVENTS & MENU LINKS ON THE HOME PAGE**/
#opt-link2{
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    display: grid;
    gap: 3em;
    
}
#opt-dining{
    font-size: 9em;
    color: aliceblue;
    text-align: center;
}
@media(max-width:767px){
    #opt-dining{
       font-size: 4em; 
    }
}
#opt-events{
    font-size: 9em;
    color: aliceblue;
    text-align: center;
}
@media(max-width:767px){
    #opt-events{
       font-size: 4em; 
    }
}
#menu-link-dining{
    font-size: 3.5em;
    color: rgb(235, 62, 62);
}
#events-link{
    font-size: 3.5em;
    color: rgb(235, 62, 62);
}
#opt-dining-img{
    position: relative;
    margin-top: 20vh;
    max-width: 100vw;
    background-image: url(/resources/diningv1p1.jpeg);
}
#opt-events-img{
    position: relative;
    max-width: 100vw;    
    background-image: url(/resources/projecteventsv1p1.jpg);
    background-size: cover;
    margin-bottom: 40vh;
}


/**THIS CODE CONTROLS THE FOOTER ON THE HOME PAGE**/
.footer{
    position: relative;
    text-align: center;
    border-top: 3px solid black;
    padding-bottom: 10vh;
}


/**THIS CODE CONTROLS THE TEXT ON THE BLOG PAGE**/
#main-header-blog{
    text-align: center;
}
.main-div{
    display: grid;
    gap: 1.5rem;
    max-width: 100vw;
}
#event{
    max-width: 100vw;
    margin-right: 20%;
}
.event-border-hover{
    cursor: pointer;
    border: 5px solid black;
}
.event-border-hover:hover{
    transform: scale(1.5);
    transition: ease-in-out, 250ms;
    padding: 4em;
    margin-bottom: 5em;
background-color: rgba(0, 255, 255, 0.486);
}

/** Menu items on display **/
/**
code to style div for main page

**/
.slider p{
    display: none;
}
.slider{
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

p.displaySlide{
    display: block;
    
}

.dis1{
    background-image: url(/resources/crispy-fish-tacos-with-panko-and-spicy-mayo-lr-8.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
    border-radius: 1%;
}
.dis2{
    background-image: url(/resources/shrimp-po-boy_3x2-alt_mj-kroeger.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
}
.dis3{
    background-image: url(/resources/Chicken-Caesar-Salad-5.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
}

.dis4{
    background-image: url(/resources/Grilled-Salmon-with-Creamy-Spinach.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
}

.dis5{
    background-image: url(/resources/35_02_LinguineWithLobster_final.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
}

.dis6{
    background-image: url(/resources/SeafoodPaella.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
}

.dis7{
    background-image: url(/resources/Crab\ Alfredo.jpg);
    width: 80vw;
    height: 45vh;
    color: rgb(0, 0, 0);
    background-size: cover;
}
.slides{
    
    width: 80vw;
    transition-duration: 3ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
       
}




.slider button{
    position: absolute;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.185);
    border: none;
    top: 65%;
    
   
    
    
    
}
.slider button:hover{
    cursor: pointer;
    
    
    
    
}


.prev{
    left: 10%;
    
    
}
.next{
    right: 10%;
}

#showmenu{
    text-align: center;
    font-size: 4rem;
}
a{
    text-decoration: none;
}

/**Adjustments for previou and next bottons  **/

