/**THIS CODE CONTROLS THE MARGIN, PADDING AND WIDTH ON THE HOME & BLOG PAGE**/
*{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow-x: hidden;
}
/**THIS CODE CONTROLS THE BODY**/
body{
    background-image: url(/resources/project1\ backgroundv1p1.png);
    
   
}
/**THIS CODE CONTROLS THE VIDEO ON THE HOME PAGE**/
.header-vid{
    position: absolute;
    overflow-y: hidden;
    overflow: hidden;
    max-width: 100vw;
    max-height: 70vh;
    z-index: -1;
}


/**THIS CODE CONTROLS THE MAIN HEADER ON THE HOME PAGE**/
.header-title{
    position: absolute;
    
    padding-bottom: 2em;
    text-align: center;
    font-size: 8em;
    color: rgba(121, 218, 218, 0.694);
}

@media (max-width:767px){
    .header-title{
        margin-top: 13vh;
        position: relative;
        font-size: 3em;
        
    }
}

/**THIS CODE CONTROLS THE WEBSITE NAV ON THE HOME PAGE**/
.web-links{
    position: relative;
    padding: 2%;
    padding-bottom: 3%;
    margin-top: 60vh;
    margin-bottom: 5%;
    text-align: center;
    color: rgb(252, 0, 0);
}
@media(min-width:1441px){
    .web-links{
    font-size: 1.3em;
    margin-top: 56vh;

    }
}

/**THIS CODE CONTROLS THE HAMBERGER NAV ON THE HOME PAGE**/
:root{
    --animation-timing: 200ms ease-in-out;
}
.hamberger-menu{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    position: absolute;
    top: 0vh;
    padding-bottom: 2em;
    cursor: pointer;
    
}
@media(min-width:766px){
    .hamberger-menu{
        display: none;
    }
}

.hamberger-menu::before,
.hamberger-menu::after,
.hamberger-menu input{
    content: "";
    width: 50px;
    height: 8px;
    background-color: black;
    border-radius: 9999px;
    /**transition: opacity var(--animation-timing), width var(--animation-timing);**/
}
/@media(max-width:425px){
    .hamberger-menu::before,
    .hamberger-menu::after,
    .hamberger-menu input{
    content: "";
    width: 9vw;
    height: .5vh;


}
}
.hamberger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
/**.hamberger-menu input:checked{
    opacity: 0;
    width: 0;
}**/
.sidebar{
    position: absolute;
    top: 10vh;
    transition: var(--animation-timing);
    translate: -1000%;
    background-color: rgba(58, 62, 66, 0.486);
    padding: 0.5rem, .5rem;
    padding-top: 2em;
    max-width: 30rem;
    height: 100vh;  
}
nav a{
    color: aliceblue;
}
.hamberger-menu:has(input:checked) + .sidebar{
    translate: 0;
}

/**THIS CODE CONTROLS THE EVENTS & MENU LINKS ON THE HOME PAGE**/


/**THIS CODE CONTROLS THE FOOTER ON THE HOME PAGE**/