body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0; color:#631d1d;
    background-image: url(/resources/project1\ backgroundv1p1.png);
  }
  
  header {
    background-image: url(/resources/careers.jpg);
    background-position:bottom; background-size: 110%; 
    ;color: #fff;
    padding: 40px;
  
  }


     footer {
  background-color: #631d1d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  }
  
  
  
  section {
    padding: 35px;
  }
  
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .job-listing {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .job-title {
    font-size: 24px;
    color: #631d1d;
  }

  .job-description {
    margin-top: 10px;
    color: #555;
  }
  h1{text-align: center;}
  h2 {
    text-align: center;
    color: #555;
  }
  .web-links{ display: inline;
  margin-right: 40px;
  color: #fff;

  }

  a{text-decoration: none;}
  .form-group {
    margin-bottom: 30px
    ; margin-right: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:  #631d1d;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    ;
  }
  input[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    background: linear-gradient(to right, rgb(172, 37, 111), #81064e);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; margin-left: 25%;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
