body{
    margin: 15px;
    max-width: 100%;
    overflow-x:hidden;
    background-image: url(project1\ backgroundv1p1.png);
   
}

.div-header{
    text-align: center;  
    z-index: -1;  
    max-width: 100%;
    
    
}

.header-vid{
    overflow: hidden;
    max-height: 70vh;
    z-index: -1;
    max-width: 100%;
}
.header-title{
    text-align: center;
    max-width: 100%;
    font-size: 9em;
    color: rgba(121, 218, 218, 0.694);
}
.web-links{
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}


.web-link1{
    margin-right: 175px;
}
.web-link2{
    margin-right:175px;
}
.web-link3{
    margin-right: 175px;
}
.web-link4{
    margin-right:175px;
}
.web-links{
    margin-left: 5%;
    margin-right:175px ;
}





#opt-link1{
    margin-top: 100px;
    margin-bottom: 300px;
    max-width: 100%;
    position: relative;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:2, 1fr;
    

}

#opt-dining{
    max-width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 11em;  
}
#menu-link-dining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}

#opt-dining-img{
    background-image: url(diningv1p1.jpeg);
}
#opt-events{
    color: aliceblue;
    font-size: 11em;
}
#opt-events-img{
    max-width: 100%;
    text-align: center;
    background-image: url(projecteventsv1p1.jpg);
    background-size: cover;
}
#events-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}
.footer{
    padding: 100px;
}
.footer-link{
    margin-bottom: 10%;
}
.main-div{
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    gap: 1.5rem;
}
#main-header-blog{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}
.event-border-hover{
    cursor: pointer;
    border: 5px solid black;

   
}
