
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --animation-timing: 200ms ease-in-out;
}
.hamberger-menu{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    position: relative;
    top: 65%;
    padding-bottom: 2em;
    cursor: pointer;
    
}
@media(min-width:1025px){
    .hamberger-menu{
        display: none;
    }
}
@media(max-width:1025px){
    .hamberger-menu{
        position: absolute;
        top: 58%;
    }
}

.hamberger-menu::before,
.hamberger-menu::after,
.hamberger-menu input{
    content: "";
    width: 50px;
    height: 8px;
    background-color: black;
    border-radius: 9999px;
    /**transition: opacity var(--animation-timing), width var(--animation-timing);**/
}
@media(max-width:1025px){
    .hamberger-menu::before,
    .hamberger-menu::after,
    .hamberger-menu input{
    content: "";
    width: 100px;
    height: 20px;


}
}
.hamberger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
/**.hamberger-menu input:checked{
    opacity: 0;
    width: 0;
}**/
.sidebar{
    position: relative;
    margin-top: 15em;
    transition: var(--animation-timing);
    translate: -1000%;
    background-color: rgba(58, 62, 66, 0.486);
    padding: 0.5rem, .5rem;
    padding-top: 2em;
    max-width: 30rem;
    height: 20vh;
}
@media (max-width:1025px){
    .sidebar{
        font-size: 1em;
        height: auto;
        width: auto;
        background-color: rgba(58, 62, 66, 0.486);
        padding-left: 0em;
        margin-left: 0;
        margin-top: 15em;

    }
}
@media(max-width:927px){
    .sidebar{
        margin-top: 6em;
    }
}
@media(max-width:793px){
    .sidebar{
        margin-top: 11em;
    }
}
@media(max-width:538px){
    .sidebar{
        margin-top: 13em;
    }
}
@media(min-width:1025px){
    .sidebar{
        display: none;
    }
}
.sidebar a {
    display: flex;
    padding: 5px;
}
.hamberger-menu:has(input:checked) + .sidebar{
    translate: 0;
}
body{
    margin: 1em;
    max-width: 100%;
    overflow-x:hidden;
    background-image: url(/resources/project1\ backgroundv1p1.png);
   
}

.div-header{
    width: auto;
    text-align: center;    
    max-width: auto;
    
}

.header-vid{
    position: absolute;
    overflow-y: hidden;
    overflow: hidden;
    max-height: 70vh;
    max-width: 100%;
    
}
@media (max-width:500px ) {
    .div-header{
       width: 100%;
       height: auto;
    }
    
}


.header-title{
    position: relative;
    padding-bottom: 2em;
    margin-bottom: .7em;
    text-align: center;
    max-width: auto;
    font-size: 9em;
    color: rgba(121, 218, 218, 0.694);
}
@media (max-width:1400px){
    .header-title{
        position: relative;
        font-size: 6em;
        padding-bottom: 0em;


        
    }
}
@media(max-width:928px){
    .header-title{
        padding-bottom: 1.5em;
    }
}
@media(max-width:800px){
    .header-title{
        font-size: 4em;
    }
}
@media(max-width:538px){
    .header-title{
        font-size: 3em;
        margin-left: 50%;
    }
}
.web-links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1em 3em ;
    color: rgb(252, 0, 0);
   
}
@media(max-width:1200px){
    .home{
       padding: 2em 2em;
    }
}
@media(max-width:1025px){
    .home{
       display: none;
    }
}
@media(min-width:1200px){
    .home{
        margin-bottom: 5em;
    }
}

#opt-link1{
    margin-top: 1em;
    padding-top: 2em;
    margin-bottom: 100px;
    max-width: 100%;
    position: relative;
    display: grid;
    gap: 3em;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:2, 1fr;
}
@media(max-width:1400px){
    #opt-link1{
        max-width: 100%;
        font-size: .5em;
        position: relative;
        display:grid;
        

    }
}



#opt-dining{
    max-width: auto;
    text-align: center;
    color: aliceblue;
    font-size: 11em;  
}
#menu-link-dining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}

#opt-dining-img{
    width: 100%;
    background-image: url(/resources/diningv1p1.jpeg);
}


#opt-events{
    max-width: auto;
    text-align: center;
    color: aliceblue;
    font-size: 11em;
}
#opt-events-img{
    width: 100%;
    background-image: url(/resources/projecteventsv1p1.jpg);
    background-size: cover;

}
#events-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}
.footer{
    max-width: 100%; 
}
@media(max-width:1200px){
    .footer{
        font-size: 1.5em;
    }
}

.footer-link{
    display: inline-block;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
    padding: 10px;
}
/**@media(max-width:938px){
    .footer-link{
        display: inline-block;
        padding: 0%;
        font-size: 3em;
    }
}**/
#footer_div{
    border-bottom: 3px solid black;
}
.footer-div{
    display: inline-block;
    padding-top: 10em;
}


.main-div{
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    gap: 1.5rem;
}
#main-header-blog{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}
.event-border-hover{
    cursor: pointer;
    border: 5px solid black;
}
.event-border-hover:hover{
    transform: scale(1.5);
    transition: ease-in-out, 250ms;
    padding: 4em;
    margin-bottom: 5em;
background-color: rgba(0, 255, 255, 0.486);}
    
.web-links-one{
     padding: auto;
    text-align: center;}

    /* STUFF ADDED BY KATELYNN BELLOW**/
 
#opt-link1{
    margin-top: 1em;
    padding-top: 5em;
    margin-bottom: 100px;
    max-width: auto;
    position: relative;
    display: grid;
    gap: 3em;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:2, 1fr;
}
@media(max-width:938px){
    #opt-link1{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;

    }
}



/** grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:2, 1fr;**/

#opt-dining{
    max-width: auto;
    text-align: center;
    color: aliceblue;
    font-size: 11em;  
}
#menu-link-dining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}

#opt-dining-img{
    width: 100%;
    background-image: url(/resources/diningv1p1.jpeg);
}
#opt-events{
    max-width: auto;
    color: aliceblue;
    font-size: 11em;
}
#opt-events-img{
    max-width: auto;
    text-align: center;
    background-image: url(/resources/projecteventsv1p1.jpg);
    background-size: cover;
}
#events-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}
.footer{
    width: 100%;
    
}
.footer-link{
    display: inline-block;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
    padding: 10px;
}
@media(max-width:938px){
    .footer-link{
        display: inline-block;
        padding: 0%;
        font-size: 1em;
    }
   
}
@media(max-width:763px){
    .footer-link{
        display: inline-block;
        padding: 0%;
        font-size: .8em;
    }
   
}
#footer_div{
    border-bottom: 3px solid black;
}
.main-div{
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    gap: 1.5rem;
}
#main-header-blog{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}
.event-border-hover{
    cursor: pointer;
    border: 5px solid black;

   
}
.web-links-one{
     padding: auto;
    text-align: center;}
.
