
*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 1em;
    max-width: 100%;
    overflow-x:hidden;
    background-image: url(/resources/project1\ backgroundv1p1.png);
   
}

.div-header{
    width: auto;
    text-align: center;    
    max-width: auto;
    
    
}

.header-vid{
    position: absolute;
    overflow-y: hidden;
    overflow: hidden;
    max-height: 70vh;
    max-width: auto;
}
@media (min-width:768px ) {
    .div-header{
       width: auto;
       height: auto;
    }
    
}


.header-title{
    position: relative;
    padding-bottom: 2.3em;
    text-align: center;
    max-width: auto;
    font-size: 9em;
    color: rgba(121, 218, 218, 0.694);
}
@media (max-width:938px){
    .header-title{
        font-size: 8em;
        padding-bottom: 3em;
    }
}
.web-links{
    position: relative;
    padding-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
@media(max-width:938px){
    .web-links{
        display: none;
    }
}

.nav-bar{
    position: absolute;
    z-index: 2;
    right: 10%;
    top: 80%;
    margin-right: 1em;
    font-size: 3em;
    list-style: none;
    display: none;
}
@media(min-width:938px){
    .nav-bar{
        display: contents;
    }
}

.nav-toggle:checked ~ .nav-bar{
    display: block;
}


.nav-toggle-label{
    position: absolute;
    bottom: 12%;
    right: 0%;
    font-size: 4em;
    margin-right:3em;
    height: 40%;
    display: flex;
    align-items: center;
    width: auto;
    z-index: 2;
    display: none;
}
@media (min-width:938px){
    .nav-toggle-label{
       display: contents;
       position: absolute;
       font-size: 5em;
    }
}
.nav-toggle{
    display: none;
}


span{
    color: rgb(76, 115, 150);
}
@media (max-width:938px){
    span{
       display: contents;
       position: absolute;
       font-size: 3em;
       
    
       
    }
}

/**.web-link1{
    margin-right: 175px;
/**.web-link1{
    margin-right: 160px;
}
.web-link2{
    margin-right:160px;
}
.web-link3{
    margin-right: 160px;
}
.web-link4{
    margin-right:160px;
}**/
.web-links{
    margin-left: 5%;
    margin-right:175px ;
    /* STUFF ADDED BY KATELYNN BELLOW**/
    position: relative;
    padding-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    text-align: center;
    margin-bottom: 10px;
}
 /**   margin: 50px;
    padding-top: 8em;
    position: relative;
    color: aliceblue;
    align-items: center;**/





#opt-link1{
    margin-top: 1em;
    padding-top: 5em;
    margin-bottom: 100px;
    max-width: auto;
    position: relative;
    display: grid;
    gap: 3em;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:2, 1fr;
}
@media(max-width:938px){
    #opt-link1{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;

    }
}

}

/** grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:2, 1fr;**/

#opt-dining{
    max-width: auto;
    text-align: center;
    color: aliceblue;
    font-size: 11em;  
}
#menu-link-dining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}

#opt-dining-img{
    width: 100%;
    background-image: url(/resources/diningv1p1.jpeg);
}
#opt-events{
    max-width: auto;
    color: aliceblue;
    font-size: 11em;
}
#opt-events-img{
    max-width: auto;
    text-align: center;
    background-image: url(/resources/projecteventsv1p1.jpg);
    background-size: cover;
}
#events-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: rgba(121, 218, 218, 0.588);
}
.footer{
    width: 75%;
    
}
.footer-link{
    display: inline-block;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
    padding: 10px;
}
@media(max-width:938px){
    .footer-link{
        display: inline-block;
        padding: 0%;
        font-size: 3em;
    }
    .web-links {
        /*Remove display:none*/
    }
}
#footer_div{
    border-bottom: 3px solid black;
}
.main-div{
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    gap: 1.5rem;
}
#main-header-blog{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}
.event-border-hover{
    cursor: pointer;
    border: 5px solid black;

   
}
.web-links-one{
     padding: auto;
    text-align: center;}